<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Hanami - Beautiful Simplicity</title>
  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/vagas.css">
  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/atom-one-light.css">
  <!-- Printing and PDF exports -->
  <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
</head>

<body>
  <img src="imgs/logo-vagas.png" class="watermark">
  <div class="reveal">
    <div class="slides">
      <section>
        <section>
          <h2>Boa Tarde!</h2>
        </section>
        <section>
          <h2>Marcello Rocha &lt;<a href="http://twitter.com/mereghost">@mereghost</a>&gt;</h2>
          <ul>
            <li class="fragment">Apreciador de cervejas artesanais</li>
            <li class="fragment">Apaixonado por RPGs, jogos de
              <a href="http://www.boardgamegeek.com/collection/user/mereghost">tabuleiro</a> etc
            </li>
            <li class="fragment">
              Praticante de
              <a href="http://kytrinyx.com/presentations/therapeutic-refactoring">Refactor Terapêutico</a>
            </li>
          </ul>
          <aside class="notes">TR => Katrina Olwen - 2012</aside>
        </section>
        <section>
          <a class="image-link" href="https://www.vagas.com.br/institucional/quem-somos">
            <img class="plain" src="imgs/logo-vagas.png" alt="VAGAS">
          </a>
          <aside class="notes">
            <ol>
              <li>Maior site de carreira do Brasil</li>
              <li>Milhoes de requests por dia!</li>
              <li>Sem chefes</li>
              <li>E é uma empresa de tecnologia</li>
            </ol>
          </aside>
        </section>
      </section>
      <section>
        <h1 style="margin-left: -150px;">
          <img class="img-title" src="imgs/logo.png" alt="hanami logo"> Hanami </h1>
        <h3>A beleza da simplicidade</h3>
      </section>
      <section>
        <section>
          <h3>Um framework web <u>moderno</u> para Ruby</h3>
          <img src="imgs/hanami-1.jpg">
          <p><small>Originalmente Lotus</small></p>
          <aside class="notes">também a prática de apreciar a beleza do florescer das cerejeiras</aside>
        </section>
        <section>
          <h3>Mas o que tem de bom?</h3>
          <ol>
            <li class="fragment">Velocidade</li>
            <li class="fragment">Segurança</li>
            <li class="fragment">Funcionalidade e leveza</li>
            <li class="fragment">Simplicidade</li>
          </ol>
          <aside class="notes">
            <ol>
              <li>O stack é menor e mais rápido. CDNs from the gound up.</li>
              <li>Content Security Policy (XSS), X-Frame headers (quem pode abrir em frames)</li>
              <li>100nas funcionalidades, 60% menos memória.</li>
              <li>Diferenciar simples de familiar</li>
            </ol>
            <p>Mencionar também Threadsafety</p>
          </aside>
        </section>
        <section data-background-image="imgs/uncle_bob.jpg">
          <div class="quotes">
            <blockquote class="fragment">
              Seu framework não é sua aplicação.
            </blockquote>
            <blockquote class="fragment">
              The web is just a delivery mechanism!
            </blockquote>
            <p class="fragment">Vale assistir a talk: <a style="color: #99f" href="https://www.youtube.com/watch?v=WpkDN78P884">Architecture: The Lost Years</a></p>
          </div>
        </section>
      </section>
      <section>
        <h2>Libertar-se do trilhos</h2>
        <img src="imgs/freedom_cat.jpg" alt="Right Mindset">
      </section>
      <section>
          <h2>Diferenças &amp; Dificuldades</h2>
          <ol>
            <li class="fragment">Estrutura do projeto</li>
            <li class="fragment">Validações</li>
            <li class="fragment">Mecanismo de Entrega
              <ul class="fragment">
                <li>Controllers</li>
                <li>Views</li>
              </ul>
            </li>
            <li class="fragment">Models</li>
            <li class="fragment">Interactors</li>
          </ol>
      </section>
      <section>
        <section>
          <h2>Estrutura de uma aplicação</h2>
          <aside class="notes">Onde eu coloco as coisas? PORQUE?!?</aside>
        </section>
        <section>
          <p>
            <span class="method">$ hanami new awesome_all_the_things</span>
            <img class="plain" src="imgs/tree-new.png" alt="Arvore">
          </p>
          <aside class="notes">
            <p>A estrutura é apenas pra carregamento automático</p>
            <p>Tudo (ou quase) pode ser configurado</p>
          </aside>
        </section>
        <section>
          <h3>Multiplas aplicações</h3>
          <img src="imgs/apps-tree.png" alt="Containers">
          <aside class="notes">
            Comparar com Django e similares.
            Isso facilita a criação de single page apps, permitindo facilmente separar API de Front.
          </aside>
        </section>
        <section>
          <h3>Lógica de negócio</h3>
          <img src="imgs/lib-tree.png" alt="Libs will be libs">
        </section>
      </section>
      <section>
        <section>
          <h2>Validações</h2>
          <p class="fragment">São providas por um modulo que pode ser incluido em qualquer objeto.</p>
          <aside class="notes">
            - Falando primeiro porque isso aparece em vários pontos.
            - Mecanismo de includes vai ser o padrão em muitos lugares
          </aside>
        </section>
        <section>
          <h2>Os validadores usam o <a href="http://dry-rb.org/gems/dry-validation/">
            dry-validation</a> por baixo</h2>
        </section>
        <section>
          <h3>Um exemplo simples</h3>
          <pre><code data-trim data-noescape>
# Rails
validates :some_field, presence: true, length: { in: 3..8 }

# Hanami
required(:some_field) { filled? &amp; str? &amp; size?(3..8)  }
# Macros!
required(:some_field).filled(:str?, size?: (3..8))
          </pre></code>
        </section>
        <section>
          <h3>Custom Predicates</h3>
          <pre><code data-trim data-noescape>
class SomeRandomCoolThing
  include Hanami::Validations
  EMAIL_REGEX = /.+@.+/ #totally works!

  predicate :email?, message: 'not an email' do |actual|
    actual =~ EMAIL_REGEX
  end

  validations do
    required(:nullable).maybe(:int?)
    required(:something_or_the_other) { str? | int? }
    required(:an_email) { email? }
    optional(:an_array).each(:int?)
  end
end
          </code></pre>
          <aside class="notes">
            Apresentação mais concisa, poderosa e clara das validações.
            Campos opcionais e tal.
          </aside>
        </section>
      </section>
      <section>
        <h2>O mecanismo de entrega</h2>
        <img src="imgs/delivery_cat.jpg" alt="delivery_cat">
      </section>
      <section>
        <section>
          <h2>Controllers</h2>
          <img src="imgs/action_cat.jpg" alt="Action Cat">
        </section>
        <section>
          <h3>Controllers</h3>
          <p>São apenas um modulo, um namespace.</p>
          <pre><code data-trim data-noescape>
module Web::Controllers::SemanticallyRelevantName
  # here be dragons
end
          </code></pre>
        </section>
        <section>
          <h3>Actions</h3>
          <p>São simples objetos que respondem a <span class="method">#call</span></p>
          <pre><code data-trim data-noescape>
module Web::Controllers::SemanticallyRelevantName
  class Index
    include Web::Action

    def call(params)
      # here be dragons
    end
  end
end
          </code></pre>
          <p class="fragment">Mas qual a vantagem disso?</p>
          <aside class="notes">
            <p>Falar do call como ponto de referencia</p>
          </aside>
        </section>
        <section>
          <h3>Testabilidade</h3>
          <pre><code data-trim data-noescape>
RSpec.describe Web::Controllers::SemanticallyRelevantName::Index
  let(:action) { Web::Controllers::AwesomeClassName::Index.new }
  let(:params) { Hash[] }
  subject(:response) { action.call(params) }

  it 'just works' do
    expect(response[0]).to eq(200)
  end
end
          </code></pre>
        </section>
        <section>
          <h3>Só mostra o que os outros precisam ver</h3>
          <pre><code data-trim data-noescape>
module Web::Controllers::SemanticallyRelevantName
  class Index
    include Web::Action
    expose :instance_variable #algo que a view precise ver
  end
end
          </code></pre>
        </section>
        <section>
          <h3>E parametros mágicos!</h3>
          <pre><code data-trim>
module Web::Controllers::SemanticallyRelevantName
  class Create
    include Web::Action
    params do
      required(:title) { filled? &amp; str? &amp; size?(3..254) }
    end

    def call(params)
      params.get('um.valor.aninhado.que.nao.existe') #=> nil
    end
  end
end
          </code></pre>
          <aside class="notes">
            <ul>
              <li>Descarta qqr chave não definida aqui.</li>
              <li>Suporta deep nesting usando #get em caso de nils</li>
            </ul>
          </aside>
        </section>
        <section>
          <h5>Reuso de código</h5>
          <pre><code data-trim data-noescape>
module Web
  module MyReusableBehaviour
  def self.included(action)
    action.class_eval do
      before :behaviour
      expose :some_object
    end
  end
  private def behaviour; @some_object = "Nothing to see here"; end
end

module Web::Controllers::SemanticallyRelevantName
  class Index
    include Web::Action
    include Web::MyReusableBehaviour
  end
end
          </code></pre>
        </section>
      </section>
      <section>
        <section>
          <h2>Views &amp; Templates</h2>
          <img src="imgs/ceil_cat.jpg" alt="Ceiling Cat">
        </section>
        <section>
          <h3>Views</h3>
          <pre><code data-trim data-noescape>
module Web::Views::SemanticallyRelevantName
  class Index
    include Web::Action

    def title; 'Hanami &amp; Ruby'; end
  end
end
          </code></pre>
          <aside class="notes">
            São como presenters
          </aside>
        </section>
        <section>
          <h3>E pelo mesmo motivo!</h3>
          <pre><code data-trim>
RSpec.describe Web::Views::SemanticallyRelevantName::Index
  let(:exposures) { Hash[stuff: %w(cool awesome nifty)] }
  let(:template) do
    Hanami::View::Template.new('path/to/template.html.erb')
  end

  let(:view) do
    Web::Views::SemanticallyRelevantName::Index.new(template, exposures)
  end

  let(:rendered) { view.render }

  it 'autoescape all strings' do
    expect(view.title).to eq('Hanami &amp;amp; Ruby')
  end
end
          </code></pre>
        </section>
        <section>
          <h3>Templates</h3>
          <p>Esses vão parecer familiares...</p>
          <pre><code data-trim data-noescape>
&lt;h1&gt;<%= title %>&lt;/h1&gt;

<%= yield %>
          </code></pre>
        </section>
        <section>
          <h3>Mas não quero usar um template!</h3>
          <pre><code data-trim data-noescape>
module Web::Views::SemanticallyRelevantName
  class Index
    include Web::Action

    def render; {this: 'method'}.to_json; end
  end
end
          </code></pre>
        </section>
        <section>
          <h3>Mas não quero nem usar uma view!</h3>
          <h5><i>#$@&%*!</i> Ok, pensamos nisso</h5>
          <pre class="fragment"><code data-trim data-noescape>
module Web::Controllers::AwesomeClassName
  class Index
    include Web::Action
    def call(params)
      self.body = 'something important '
    end
  end
end
            </code></pre>
        </section>
      </section>
      <section>
        <h2>A Lógica de Negócio</h2>
        <img src="imgs/arch_cat.jpg" alt="Architecture" height="500px">
      </section>
      <section>
        <section>
          <h2>Entidades &amp; Repositórios</h2>
          <p>Ou models</p>
          <img src="imgs/model_cat.jpg" alt="Modeling">
        </section>
        <section>
          <h3>Entidades</h3>
          <pre class="fragment"><code data-trim data-noescape>
class AwesomeThing
  include Hanami::Entity
  attributes %i(name dob created_at)
end
          </code></pre>
          <pre class="fragment"><code data-trim data-noescape>
class AwesomeThing
  attr_accessor :id
  def initialize(attrs = {}); end
end
          </code></pre>
        </section>
        <section>
          <h3>Repositories</h3>
          <p>São a interface entre o BD e a Entity.</p>
          <pre><code data-trim>
class AwesomeThingRepository
  include Hanami::Repository
end
          </code></pre>
        </section>
        <section>
          <h3>Mas o que dá pra fazer com eles?</h3>
          <ul>
            <li class="fragment">
              <span class="method">#all</span>,
              <span class="method">#find</span>,
              <span class="method">#create</span>,
              <span class="method">#update</span>,
              <span class="method">#delete</span>,
              <span class="method">#first</span>,
              <span class="method">#last</span></li>
            <li class="fragment">
              <span class="method">#persist</span></li>
            <li class="fragment"><span class="method">#clear</span></li>
            <li class="fragment">
              <span class="method">#execute</span>,
              <span class="method">#fetch</span>
            </li>
          </ul>
          <p class="fragment">O método <span class="method">#query</span> é privado</p>
          <aside class="notes">Queries com valor de negócio</aside>
        </section>
        <section>
          <pre><code data-trim data-noescape>
# AR::Base
AwesomeThing.order(:created_at).limit(10)

# Hanami::Repository
AwesomeThingRepository.most_recent

class AwesomeThingRepository
  include Hanami::Repository
  def self.most_recent(amount = 10)
    query do
      order(:created_at).limit(amount)
    end
  end
end
          </code></pre>
        </section>
        <section>
          <h3>Mappings</h3>
          <p>É como ligamos os repositorios, ao DB e às entities</p>
        </section>
        <section>
          <pre><code data-trim>
Hanami::Model.configure do
  adapter type: :sql, uri: ENV['DATABASE_URL']
  migrations 'db/migrations'
  schema 'db/schema.sql'
  mapping do
    collection :awesome_things do
      entity AwesomeThing
      # repository AwesomeThingRepository
      attribute :id, Integer
      attribute :coolness_index, Integer
      attribute :created_at, DateTime
      attribute :updated_at, DateTime
    end
  end
end
          </code></pre>
        </section>
        <section>
          <h2>E não é só isso:</h2>
          <ul>
            <li class="fragment">Coerção customizada</li>
            <li class="fragment">Bancos Legados</li>
            <li class="fragment">Mismatch entre entidade e banco</li>
          </ul>
          <aside class="notes">
            <ol>
              <li>#dump e #load são a interface. Hanami::Model::Coercer</li>
              <li>legacy_name, Type, as: field_name</li>
              <li>Só o que é definido no mapper vai pro banco</li>
            </ol>
          </aside>
        </section>
      </section>
      <section>
        <section>
          <h2>A estrutura padrão já isola sua aplicação do DB</h2>
        </section>
        <section>
          <h3>Mas.. mas... eu não vou chamar os Repos no meu Controller?</h3>
          <p>E viver sem callbacks? Self-saving models?</p>

          <aside class="notes">
            Olhar o rubytapas sobre self saving #401 - #405
          </aside>
        </section>
      </section>
      <section>
        <section>
          <h2>Interactors</h2>
          <img src="imgs/interact_cat.gif" alt="Interaction Cat">
        </section>
        <section>
          <h3>A regra de negócio vai aqui</h3>
          <pre><code data-trim data-noescape>
class AwesomeInteractor
  include Hanami::Interactor
  expose :inst_var

  def initialize(value)
    @inst_var = value
  end

  def valid?
    fail! unless @inst_var
  end

  def call
    # here be dragons
  end
end
            </code></pre>
        </section>
        <section>
          <h3>Hmmm... e?</h3>
          <ol>
            <li class="fragment"><span class="method">#call</span> retorna um
              <span class="method">Hanami::Result</span></li>
            <li class="fragment"><span class="method">#success?</span> para saber no que deu</li>
            <li class="fragment">
              <img class="plain" src="imgs/nirvana.jpg" alt="Nirvana Cat" height="300" style="vertical-align: top; margin: 0;">
              </li>
          </ol>
          <aside class="notes">
            <ol>
              <li>#call pra substituir por um block.</li>
              <li>Trabalhando pra passar o param pro call ao invés do initialize</li>
              <li>zen</li>
            </ol>
          </aside>
        </section>
      </section>
      <section>
        <h2>Tá bom @mereghost, mas...</h2>
        <img src="imgs/PuzzledCat.jpg" alt="Huh?!?">
      </section>
      <section>
        <h1>Obrigado!</h1>
        <p>
          Se tiver dúvidas, perguntas, vontade de trabalhar conosco ou só quiser trocar uma ideia:
          <a href="mailto:marcello.rocha@vagas.com.br">marcello.rocha@vagas.com.br</a> |
          <a href="https://twitter.com/mereghost">@mereghost</a>
        </p>
        <small>Participem no gitter do projeto Hanami:
            <a href="https://gitter.im/hanami/chat">https://gitter.im/hanami/chat</a></small>
      </section>
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>
</body>
</html>
