<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Hanami - Beautiful Simplicity</title>

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/vagas.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/atom-one-light.css">

  <!-- Printing and PDF exports -->
  <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
</head>

<body>
  <img src="imgs/logo-vagas.png" class="watermark">
  <div class="reveal">
    <div class="slides">
      <section>
        <h1 style="margin-left: -150px;">
          <img class="img-title" src="imgs/logo.png" alt="hanami logo"> Hanami </h1>
        <h3>A beleza da simplicidade</h3>
      </section>
      <section>
        <section>
          <h2>Quem sou eu?</h2>
          <p>Alguns me conhecem por <a href="http://twitter.com/mereghost">@mereghost</a></p>
        </section>
        <section>
          <h2>Nerd assumido</h2>
          <ul>
            <li class="fragment">Leitor voraz</li>
            <li class="fragment">Apaixonado por RPGs, <a href="http://boardgamegeek.com/collection/user/mereghost">jogos de tabuleiro</a> etc</li>
            <li class="fragment">
              Praticante de
              <a href="http://www.kytrinyx.com/talks/therapeutic-refactoring">Refactor Terapêutico</a>
            </li>
          </ul>
          <aside class="notes">TR => Katrina Olwen - 2012</aside>
        </section>
        <section>
          <a class="image-link" href="https://www.vagas.com.br/institucional/quem-somos">
            <img class="plain" src="imgs/logo-vagas.png" alt="VAGAS">
          </a>
        </section>
      </section>
      <section>
        <section>
          <h2>O que é Hanami?</h2>
        </section>
        <section>
          <h2>Hanami</h2>
          <h4>é um framework web completo para Ruby</h4>
          <aside class="notes">também a prática de apreciar a beleza do florescer das cerejeiras</aside>
        </section>
        <section>
          <h3>O que ele oferece?</h3>
          <ol>
            <li class="fragment">Velocidade</li>
            <li class="fragment">Segurança</li>
            <li class="fragment">Funcionalidade e leveza</li>
            <li class="fragment">Simplicidade</li>
          </ol>
          <aside class="notes">
            <ol>
              <li>O stack é menor e mais rápido. CDNs from the gound up.</li>
              <li>Content Security Policy (XSS), X-Frame headers (quem pode abrir em frames)</li>
              <li>100nas funcionalidades, 60% menos memória.</li>
              <li>Diferenciar simples de familiar</li>
            </ol>
          </aside>
        </section>
        <section data-background-image="imgs/uncle_bob.jpg">
          <div class="quotes">
            <blockquote class="fragment">
              Seu framework não é sua aplicação.
            </blockquote>
            <blockquote class="fragment">
              The web is just a delivery mechanism!
            </blockquote>
            <p class="fragment">Vale assistir a talk: <a style="color: #99f" href="https://www.youtube.com/watch?v=WpkDN78P884">Architecture: The Lost Years</a></p>
          </div>
        </section>
      </section>
      <section>
        <h2>A mudança de mindset</h2>
        <p>Isso é sempre um desafio =/</p>
      </section>
      <section>
        <section>
          <h2>Como se parece uma aplicação</h2>
          <p class="fragment">Monolito primeiro</p>
          <pre class="fragment"><code data-trim>
$ hanami new aatt #awesome_all_the_things
# apps config config.ru db lib public Rakefile spec
          </code></pre>
          <aside class="notes">
            Comparar com Django e similares
          </aside>
        </section>
        <section>
          <h3>Multiplas aplicações &amp; Containers</h3>
          <pre><code data-trim>
$ ls apps/web
# application.rb assets config controllers templates views
          </code></pre>
          <p class="fragment">
            Aplicações dividem apenas as regras de negócio
          </p>
        </section>
        <section>
          <h3>E os "models"?</h3>
          <pre class="fragment"><code data-trim>
$ ls lib/**
# aatt.rb aatt/entities aatt/repositories aatt/mailers
          </code></pre>
          <p class="fragment">A estrutura é apenas pra carregamento automático, tudo pode ser configurado</p>
        </section>
      </section>
      <section>
        <h2>O mecanismo de entrega</h2>
        <img src="imgs/delivery_cat.jpg" alt="delivery_cat">
      </section>
      <section>
        <section>
          <h2>Controllers &amp; Actions</h2>
          <img src="imgs/action_cat.jpg" alt="Action Cat">
        </section>
        <section>
          <h3>Controllers</h3>
          <p>São apenas um modulo, um namespace.</p>
          <pre><code data-trim data-noescape>
module Web::Controllers::AwesomeClassName
  # here be dragons
end
          </code></pre>
          <small>Errr... e como ficam as actions?</small>
        </section>
        <section>
          <h3>Actions</h3>
          <p>São cidadãos de primeira classe.</p>
          <pre><code data-trim data-noescape>
module Web::Controllers::AwesomeClassName
  class Index
    include Web::Action

    def call(params)
      # here be dragons
    end
  end
end
          </code></pre>
          <p class="fragment">Mas qual a vantagem disso?</p>
          <aside class="notes">
            <p>Falar do call como ponto de referencia</p>
          </aside>
        </section>
        <section>
          <h3>Testabilidade</h3>
          <pre><code data-trim data-noescape>
RSpec.describe Web::Controllers::AwesomeClassName::Index
  let(:action) { Web::Controllers::AwesomeClassName::Index.new }
  subject(:response) { action.call({}) }

  it 'does awesome things'
end
          </code></pre>
        </section>
        <section>
          <h3>Só mostra o que os outros precisam ver</h3>
          <pre><code data-trim data-noescape>
module Web::Controllers::AwesomeClassName
  class Index
    include Web::Action
    expose :inst_var #algo que a view precise ver
  end
end
          </code></pre>
        </section>
        <section>
          <h5>Mas eu chamo um método sempre a cada request!</h5>
          <pre><code data-trim data-noescape>
module Web
  module MyReusableBehaviour
  def self.included(action)
    action.class_eval do
      before :behaviour
      expose :some_object
    end
  end
  private def behaviour; @some_object = "Nothing to see here"; end
end

module Web::Controllers::AwesomeClassName
  class Index
    include Web::Action
    include Web::MyReusableBehaviour
  end
end
          </code></pre>
        </section>
      </section>
      <section>
        <section>
          <h2>Views &amp; Templates</h2>
          <img src="imgs/ceil_cat.jpg" alt="Ceiling Cat">
        </section>
        <section>
          <h3>Views</h3>
          <pre><code data-trim data-noescape>
module Web::Views::AwesomeClassName
  class Index
    include Web::Action

    def title; 'Hanami & Ruby'; end
  end
end
          </code></pre>
          <p>Novamente, cidadãos de primeira classe</p>
          <aside class="notes">
            São como presenters
          </aside>
        </section>
        <section>
          <h3>E pelo mesmo motivo!</h3>
          <pre><code data-trim>
RSpec.describe Web::Views::AwesomeClassName::Index
  let(:exposures) { Hash[stuff: %w(cool awesome nifty)] }
  let(:template) do
    Hanami::View::Template.new('path/to/template.html.erb')
  end

  let(:view) do
    Web::Views::AwesomeClassName::Index.new(template, exposures)
  end

  let(:rendered) { view.render }

  it 'autoescape all strings' do
    expect(view.title).to eq('Hanami &amp;amp; Ruby')
  end
end
          </code></pre>
        </section>
        <section>
          <h3>Templates</h3>
          <p>Esses vão parecer familiares...</p>
          <pre><code data-trim data-noescape>
&lt;h1&gt;<%= title %>&lt;/h1&gt;

<%= yield %>
          </code></pre>
        </section>
        <section>
          <h3>Mas não quero usar um template!</h3>
          <pre><code data-trim data-noescape>
module Web::Views::AwesomeClassName
  class Index
    include Web::Action

    def render; {this: 'method'}.to_json; end
  end
end
          </code></pre>
        </section>
        <section>
          <h3>Mas não quero nem usar uma view!</h3>
          <h5><i>#$@&%*!</i> Ok, pensamos nisso</h5>
          <pre class="fragment"><code data-trim data-noescape>
module Web::Controllers::AwesomeClassName
  class Index
    include Web::Action
    def call(params)
      self.body = 'something important '
    end
  end
end
            </code></pre>
        </section>
      </section>
      <section>
        <h2>A aplicação</h2>
        <img src="imgs/arch_cat.jpg" alt="Architecture" height="500px">
      </section>
      <section>
        <section>
          <h2>Entidades &amp; Repositórios</h2>
          <p>Ou models</p>
        </section>
        <section>
          <h3>Entities</h3>
          <pre class="fragment"><code data-trim data-noescape>
class AwesomeThing
  include Hanami::Entity
  attributes %i(name dob created_at)
end
          </code></pre>
          <pre class="fragment"><code>
class AwesomeThing
  attr_accessor :id
  def initialize(attrs = {}); end
end
          </code></pre>
        </section>
        <section>
          <h3>Repositories</h3>
          <p>São a interface entre o BD e a Entity.</p>
          <pre><code data-trim>
class AwesomeThingRepository
  include Hanami::Repository
end
          </code></pre>
        </section>
        <section>
          <h3>Mas o que dá pra fazer com eles?</h3>
          <ul>
            <li class="fragment">
              <span class="method">#all</span>,
              <span class="method">#find</span>,
              <span class="method">#create</span>,
              <span class="method">#update</span>,
              <span class="method">#delete</span>,
              <span class="method">#first</span>,
              <span class="method">#last</span></li>
            <li class="fragment">
              <span class="method">#persist</span></li>
              <li class="fragment"><span class="method">#clear</span></li>
              <li class="fragment">
                <span class="method">#execute</span>,
                <span class="method">#fetch</span>
              </li>
          </ul>
          <p class="fragment">O método <span class="method">#query</span> é privado</p>
          <aside class="notes">Queries com valor de negócio</aside>
        </section>
        <section>
          <h3>Mappings</h3>
          <p>É como ligamos os repositorios, ao DB e às entities</p>
        </section>
        <section>
          <pre><code data-trim>
Hanami::Model.configure do
  adapter type: :sql, uri: ENV['DATABASE_URL']
  migrations 'db/migrations'
  schema 'db/schema.sql'
  mapping do
    collection :awesome_things do
      entity AwesomeThing
      # repository AwesomeThingRepository
      attribute :id, Integer
      attribute :coolness_index, Integer
      attribute :created_at, DateTime
      attribute :updated_at, DateTime
    end
  end
end
          </code></pre>
        </section>
        <section>
          <h2>E não é só isso:</h2>
          <ul>
            <li class="fragment">Coerção customizada</li>
            <li class="fragment">Bancos Legados</li>
            <li class="fragment">Mismatch entre entidade e banco</li>
          </ul>
        <aside class="notes">
          <ol>
            <li>#dump e #load são a interface. Hanami::Model::Coercer</li>
          </ol>
        </aside>
        </section>
      </section>
      <section>
        <section>
          <h2>A estrutura padrão já isola sua aplicação do DB</h2>
        </section>
        <section>
          <h3>Mas.. mas... eu não vou chamar os Repos no meu Controller?</h3>
          <p>E viver sem callbacks? Self-saving models?</p>

          <aside class="notes">
            Olhar o rubytapas sobre self saving #401 - #405
          </aside>
        </section>
      </section>
      <section>
        <section>
          <h2>Interactors</h2>
          <img src="imgs/interact_cat.gif" alt="Interaction Cat">
        </section>
      </section>
      <section>
        <h1>Obrigado!</h1>
        <p>
          Se tiver dúvidas, perguntas, vontade de trabalhar conosco ou só quiser trocar uma ideia:
          <a href="mailto:marcello.rocha@vagas.com.br">marcello.rocha@vagas.com.br</a>
        </p>
        <small>Participem no gitter do projeto Hanami:
            <a href="https://gitter.im/hanami/chat">https://gitter.im/hanami/chat</a></small>
      </section>
    </div>
  </div>

  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>

  <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>
</body>

</html>